body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
  }

h1 {
    font-size: 70px;
  }
  
p {
    color: black;
    font-size: 20px;
  }

.flex-container {
    margin: 80px auto 0 auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
    cursor:pointer;
    
  }
  
.flex-container > div {
    margin: 40px auto 0 auto;
    color: rgb(53, 47, 47);
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px; 
    cursor:pointer;
  }



