body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    background-image: url("https://media0.giphy.com/media/xThuWcaa4U4XZQDgvm/giphy.gif?cid=ecf05e471w8ei1vgmgjqpgj0t8q73fhln94tv31hsh376m5r&rid=giphy.gif&ct=g");
  }

h1 {
    color: white;
    font-size: 70px;
  }
  
p {
    color: black;
    font-size: 20px;
  }

.flex-container {
    margin: 80px auto 0 auto;
    margin-top: 0;
    display: flex;
    justify-content: center;
    
  }
  
.flex-container > div {
    margin: 40px auto 0 auto;
    color: rgb(53, 47, 47);
    width: 200px;
    margin: 20px;
    text-align: center;
    line-height: 30px;
    font-size: 20px; 
  }



