/* Style the top navigation bar */
.topnav {
  border-bottom: gray;
  border-top: black;
}

/* Style the topnav links */
.topnav a {
  float: right;
  display: block;
  text-align: right;
  padding: 14px 16px;
  color:black;
}

/* Underline on hover */
.topnav a:hover {
  color: red; 
  text-decoration-line: underline;
}

body {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;

  }

h1 {
    color: white;
    font-size: 70px;
  }
  
p {
    color: rgb(54, 45, 45);
    font-size: 20px;
  }



